.article-contain{
    padding: 20px;
    box-sizing: border-box;
    background: aliceblue;
    min-height: calc(100vh - 150px);
    border-radius: 14px;
    .title{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .show-option{
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
    }
    .comment-title{
        margin-top: 30px;
        .ant-divider-inner-text{
            font-size: 22px;
            font-weight: 600;
        }
    }
    
}
