
@white-font-color: rgba(255, 255, 255, 0.75);

.one-day-word {
    width: 300px;
    min-height: 150px;
    border-radius: 14px;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    .display-box{
      h2 {
        margin-top: 10px;
        color: @white-font-color;
        font-family: SaoBabe;
        font-size: 20px;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        font-family: SaoBabe;
      }
      .opt-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pub-time {
          width: 100%;
          text-align: right;
          font-size: 16px;
          color: @white-font-color;
        }
        .send-btn{
          .icon-send-s{
            cursor: pointer;
            &:before{
              font-size: 30px;
              color: lightcoral;
            }
          }
        }
      }
      
    }
    .edit-box{
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      z-index: -1;
      opacity: 0;
      position: absolute;
      top: 20px;
      left: 20px;
      .text-area{
        border-radius: 12px;
        font-family: SaoBabe;
      }
      .send-opt-box{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        .send-btn{
          width: 50px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 14px;
          background: #fff;
          font-family: SaoBabe;
          cursor: pointer;
        }
      }
      
    }
    &:hover {
      box-shadow: 0 0 20px #eee;
    }
    
  }