
@white-font-color: rgba(255, 255, 255, 0.75);

.one-day-word {
    width: 300px;
    min-height: 150px;
    border-radius: 14px;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 20px #eee;
    }
    h2 {
      margin-top: 10px;
      color: @white-font-color;
    }
    p {
      font-size: 16px;
    }
    .pub-time {
      width: 100%;
      text-align: right;
      color: @white-font-color;
    }
  }