@index-line-color: #5fb4f1;  // #d8dbe5
@circle-color: #e3e9f3;


.pub-contain{
    width: 100%;
    min-height: 100px;
    position: relative;
    margin-top: 30px;
    
    .master-line{
        width: 2px;
        height: calc(100% + 30px);
        position: absolute;
        top: -20px;
        background-color: @index-line-color;
        margin: 0 20px;
        z-index: 10;
        .random-line{
            width: 20px;
            height: 20px;
            border-top: 2px solid @index-line-color;
            border-left: 2px solid @index-line-color;
            border-radius: 20px 0 0 0;
            position: absolute;
            top: 90px;
        }
        .circle-box{
            width: 40px;
            height: 40px;
            border: 10px solid @circle-color;
            position: absolute;
            top: 70px;
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            .circle-solid{
                background-color: @circle-color;
                flex: none;
                width: 20px;
                height: 20px;
                border: 5px solid #5fb4f1;
                border-radius: 100%;
            }
        }
    }
    .pub-inner-box{
        width: 700px;
        min-height: 100px;
        background-color: #fff;
        cursor: pointer;
        // position: absolute;
        // top: 0px;
        margin-left: 60px;
        border-radius: 20px;
        padding: 20px 30px 20px;
        box-sizing: border-box;
        .title{
            font-size: 26px;
            font-weight: 600;
            margin-left: 20px;
        }
        .view-area{
            display: flex;
            justify-content: space-between;
            .show-data-area{
                color: lightgray;
                font-weight: 600;
                &>span{
                    margin-right: 10px;
                }
                .iconfont{
                    font-size: 14px;
                }
                .num{
                    font-size: 14px;
                }
            }
            .time{
                font-size: 16px;
                font-weight: 600;
                margin-left: 20px;
                color: lightgray;
            }
        }
        
        .img-area{
            width: 100%;
            height: 250px;
            margin-top: 20px;
            overflow: hidden;
            img{
                width: 100%;
                // height: 100%;
                &:hover{
                    box-shadow: 0 0 40px #bbb;
                    transition: box-shadow .5s linear;
                }
            }
        }
        .introduce{
            font-size: 16px;
            color: #434b64;
            font-weight: 500;
            margin: 10px 0 0;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;				//溢出内容隐藏
            text-overflow: ellipsis;		//文本溢出部分用省略号表示
            display: -webkit-box;			//特别显示模式
            -webkit-line-clamp: 2;			//行数
            line-clamp: 2;					
            -webkit-box-orient: vertical;	//盒子中内容竖直排列
        }
        .view-article{
            display: inline-block;
            margin-top: 10px;
            color: #aeb3c7;
            box-shadow: 0 1px 0 #aeb3c7;
            font-size: 16px;
            &:hover{
                color: #1b2b47;
            }
        }
    }
    
}