.relation-contain{
    width: 300px;
    min-height: 200px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #eee;
    border-radius: 14px;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 20px #eee;
    }
}