.friend-list{
    margin-top: 20px;
    .contant-item{
        width: 100%;
        height: 70px;
        border: 1px 0 solid #eee;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
        cursor: pointer;
        .item-header{
            width: 50px;
            height: 50px;
            border-radius: 25%;
            overflow: hidden;
            border: 1px solid #eee;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .item-desc{
            width: 100%;
            margin-left: 20px;
            text-align: left;
            .name{
                font-size: 16px;
                font-weight: 500;
                .user-number{
                    font-size: 12px;
                    font-weight: 400;
                }
                .user-status-box{
                    width: 50px;
                    height: 20px;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    display: inline-block;
                    font-size: 12px;
                    float: right;
                    padding: 0 5px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    color: #ccc;
                    i{
                        width: 10px;
                        height: 10px;
                        background-color: #bbb;
                        border-radius: 50%;
                        margin-right: 3px;
                        display: inline-block;
                    }
                }
            }
            .desc{
                
            }
        }
    }
}