.App {
  text-align: center;
  height: 100vh;
  background-color: #eee;
  
  .bread-crumb{
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: left;
    height: 30px;
    box-sizing: border-box;
    font: 400 12px;
  }
  .view{
    background-color: #fff;
    margin: 10px;
    height: calc(100% - 50px);
  }
}


:global {
  .header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logout-btn{
      background-color: #eee;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 14px;
      font-size: 14px;
    }
  }
}